#media-player #listContainer {
    width: 310px;
    background-color: #fafafa;
}

    #media-player #listContainer ul {
        background-color: #fafafa;
        clear: both;
        cursor: pointer;
    }

    #media-player #listContainer li {
        padding: 10px;
    }

#media-player #playerContainer {
    width: 310px;
    height: 130px;
    background-color: #333333;
}

#media-player .controls li:first {
    margin-right: 10px
}

#media-player .controls li {
    float: left;
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-top: 8px;
    margin-left: 10px
}

#media-player .progress {
    clear: both;
    height: 4px;
    background-color: #666666;
    width: 100%;
    cursor: pointer;
    position: relative;
}

    #media-player .progress .updateProgress {
        width: 0px;
        background-color: #00BD9B;
        height: 100%;
        float: left;
        position: relative;
    }

#media-player .volumeControl {
    position: relative;
    margin: 8px auto;
}

    #media-player .volumeControl .updateProgress {
        display: inline-block;
        vertical-align: middle;
        margin-top: 2px;
    }

#media-player input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #00BD9B;
    height: 2px;
}

#media-player .mainContainer {
    margin: 0 auto;
    width: 800px
}

#media-player .containerPlayer, .containerSource {
    display: inline-block;
    float: left;
    width: 100%;
}

#media-player .snippet {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 280px;
    max-height: 280px;
    color: #fff;
    background-color: #343434;
    margin-top: 1rem;
}

    #media-player .snippet:nth-child(2) {
        margin-top: 2rem;
    }

    #media-player .snippet pre {
        max-height: 230px;
        padding: 5px;
    }

    #media-player .snippet h4 {
        padding: 10px;
        color: #343434;
        background-color: #00bd9b;
    }

/* Playlist */
#media-player #listContainer {
    width: 310px;
    background-color: #fafafa;
    display: none;
}

    #media-player #listContainer ul {
        background-color: #fafafa;
        clear: both;
        cursor: pointer;
    }

    #media-player #listContainer li {
        padding: 10px;
    }

        #media-player #listContainer li:nth-child(even) {
            background-color: #efefef;
        }

        #media-player #listContainer li:hover, #listContainer li:nth-child(even):hover {
            background-color: #00bd9b;
            color: #fff;
        }

        #media-player #listContainer li a {
            text-decoration: none;
            color: #4e4f4f;
        }

        #media-player #listContainer li.activeAudio {
            background-color: #00bd9b;
        }


/* Player Controls */
#media-player #playerContainer {
    width: 210px;
    height: 50px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
}

#media-player .controls li {
    float: left;
    display: inline-block;
    width: 30px;
    text-align: center;
    margin-top: 8px;
    margin-left: 10px
}

    #media-player .controls li a {
        display: inline-block;
    }

#media-player .playAudio, .play {
    background: url('../img/audio/audio_icons.png') no-repeat -2px -35px;
    width: 32px;
    height: 32px;
    margin: auto;
}

    #media-player .playAudio:hover {
        background: url('../img/audio/audio_icons.png') no-repeat -2px -3px;
    }

#media-player .pauseAudio {
    background: url('../img/audio/audio_icons.png') no-repeat -36px -35px;
    width: 32px;
    height: 32px;
    margin: auto;
}

    #media-player .pauseAudio:hover {
        background: url('../img/audio/audio_icons.png') no-repeat -36px -3px;
    }

#media-player .shuffle {
    background: url('../img/audio/audio_icons.png') no-repeat -28px -96px;
    width: 32px;
    height: 32px;
    margin: auto;
}

#media-player .shuffleActive, .shuffle:hover {
    background: url('../img/audio/audio_icons.png') no-repeat -28px -71px;
    width: 32px;
    height: 32px;
    margin: auto;
}

#media-player .left {
    background: url('../img/audio/audio_icons.png') no-repeat -60px -99px;
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 4px;
    opacity: 0.4;
}

    #media-player .left:not(.disabled):hover {
        opacity: 1;
    }

    #media-player .left.disabled, .right.disabled {
        opacity: 0.4;
        cursor: default;
    }

#media-player .right {
    background: url('../img/audio/audio_icons.png') no-repeat -88px -75px;
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 4px;
    opacity: 0.4;
}

    #media-player .right:not(.disabled):hover {
        opacity: 1;
    }

#media-player .repeat {
    background: url('../img/audio/audio_icons.png') no-repeat -4px -103px;
    width: 21px;
    height: 21px;
    margin: auto;
    margin-top: 7px;
}

    #media-player .repeat:hover, .repeat.loopActive {
        background: url('../img/audio/audio_icons.png') no-repeat -4px -79px;
    }

#media-player .volume {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    background: url('../img/audio/audio_icons.png') no-repeat;
}

#media-player .volume1 {
    background-position: -5px -150px;
}

#media-player .volume2 {
    background-position: -5px -198px;
}

#media-player .volume3 {
    background-position: -5px -246px;
}

#media-player .mute {
    background-position: -34px -127px;
}

#media-player .progress {
    clear: both;
    height: 4px;
    background-color: #666666;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: none;
}

    #media-player .progress .updateProgress {
        width: 0px;
        background-color: #00BD9B;
        height: 100%;
        float: left;
        position: relative;
    }

#media-player .volumeControl {
    position: relative;
    margin: 8px auto;
    display: none;
}

    #media-player .volumeControl .updateProgress {
        display: inline-block;
        vertical-align: middle;
        margin-top: 2px;
    }

#media-player input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #00BD9B;
    height: 2px;
}

#media-player .audioDetails {
    clear: both;
    color: #00bd9b;
    font-size: 12px;
    padding: 5px;
    display: none;
}

#media-player .audioTime {
    display: inline-block;
    text-align: right;
    float: right;
}

#media-player .songPlay {
    display: inline-block;
    position: absolute;
}

@media (max-width: 1250px) {
    #media-player .songPlay {
        width: 370px;
    }
}

#media-player .seekableTrack {
    width: 0%;
    background-color: #666666;
    height: 4px;
    position: absolute;
    z-index: 0;
    display: block;
}

#media-player .seekableTrack, .progress .updateProgress {
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

#media-player ul.controls {
    margin: 0;
    padding: 0;
}


@media (max-width: 950px) {
    #media-player .songPlay {
        position: initial;
        width: 100%;
    }

    #media-player #playerContainer {
        margin-top: 5px;
    }
}
