@font-face {
    font-family: 'cafeta';
    src: url('cafeta.eot');
    src: local('☺︎'), url("cafeta.woff") format("woff"), url("cafeta.otf") format("opentype"), url("cafeta.svg#grablau") format("svg");
}

@media screen and (max-device-width: 480px) {
    @font-face {
        font-family: "cafeta";
        src: url("cafeta.woff") format("woff"), url("cafeta.otf") format("opentype"), url("cafeta.svg#grablau") format("svg");
    }
}


html,
body {
    height: inherit;
    min-width: 320px;
}

html, main, header {
    background-color: white;
}

body {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 0;
}

.left {
    width: 70%;
    float: left;
}

.right {
    width: 30%;
    float: left;
}

#top-nav {
    height: 30px;
    background-color: #3a3637;
    color: white;
}

    #top-nav ul {
        list-style: none;
        float: right;
        margin: 0 10px 0 0;
        line-height: 30px;
    }

        #top-nav ul li {
            list-style: none;
            float: left;
        }


            #top-nav ul li a {
                color: #f7f5f8;
                text-decoration: none;
                font-size: 0.95em;
            }

                #top-nav ul li a:hover {
                    color: lightgray;
                }

            #top-nav ul li .seperator {
                padding: 0 10px 0 10px;
            }

@media (max-width: 680px) {
    #top-nav {
        font-size: 0.8em;
    }
}

@media (max-width: 570px) {
    #top-nav {
        height: 60px;
    }
}

@media (max-width: 375px) {
    #top-nav {
        height: 90px;
    }
}

.hero {
    background-position: left top;
    background-size: auto 250px;
    background-repeat: no-repeat;
    height: 250px;
    margin: 0;
    float: left;
}

#hero-image .left {
    background-image: url('../img/bayrak.jpg');
}

@media (max-width: 870px) {
    #hero-image .left {
        background-position: -133px;
    }
}

#hero-image .right {
    background-image: url('../img/kopru.jpg');
    background-position: left bottom;
    background-size: cover;
}

#hero-image #hero-text {
    position: relative;
    color: white;
    font-size: 7em;
    width: 100%;
    height: 250px;
    font-family: cafeta;
    pointer-events: none;
    cursor: default;
}

    #hero-image #hero-text .hero-text-left {
        position: absolute;
        right: 30%;
        top: 50%;
        transform: translateY(-50%);
    }

    #hero-image #hero-text .hero-text-right {
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translateY(-50%);
    }

/* Larger than mobile */
@media (max-width: 1050px) {
    #hero-image #hero-text .hero-text-left, #hero-image #hero-text .hero-text-right {
        font-size: 0.6em;
    }
}

@media (max-width: 600px) {
    #hero-image #hero-text .hero-text-left, #hero-image #hero-text .hero-text-right {
        font-size: 0.4em;
    }
}

@media (max-width: 1400px) {
    #hero-image .right {
        background-position: center;
        background-size: auto 250px;
        background-repeat: no-repeat;
        height: 250px;
        margin: 0;
        float: left;
    }
}

#alt-hero {
    height: 50px;
    padding-top: 3px;
}

    #alt-hero .left, #alt-hero .right {
        height: 100%;
    }

    #alt-hero .alt-span {
        font-size: 1.8em;
        background-color: #c71429;
        color: white;
        width: 100%;
        display: block;
        height: 100%;
        line-height: 50px;
    }


        #alt-hero .alt-span:hover {
            background-color: #900f1e;
        }



    #alt-hero #tweet-input {
        width: calc(100% - 153px);
        overflow: hidden;
        height: 87%;
        line-height: 50px;
        font-size: 1.8em;
    }


        #alt-hero #tweet-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: lightgray;
            padding-left: 5px;
        }

        #alt-hero #tweet-input::-moz-placeholder { /* Firefox 19+ */
            color: lightgray;
            padding-left: 5px;
        }

        #alt-hero #tweet-input:-ms-input-placeholder { /* IE 10+ */
            color: lightgray;
            padding-left: 5px;
        }

        #alt-hero #tweet-input:-moz-placeholder { /* Firefox 18- */
            color: lightgray;
            padding-left: 5px;
        }

@media (max-width: 600px) {
    #alt-hero #tweet-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 0.4em;
    }

    #alt-hero #tweet-input::-moz-placeholder { /* Firefox 19+ */
        font-size: 0.4em;
    }

    #alt-hero #tweet-input:-ms-input-placeholder { /* IE 10+ */
        font-size: 0.4em;
    }

    #alt-hero #tweet-input:-moz-placeholder { /* Firefox 18- */
        font-size: 0.4em;
    }
}

#alt-hero #tweet-btn {
    width: 120px;
    margin-right: 3px;
    float: right;
    padding-left: 10px;
}

#alt-hero .alt-span a:hover {
    color: lightgray;
    cursor: pointer;
}

@media (max-width: 600px) {
    #alt-hero #tweet-btn, #alt-hero #dont-forget-right {
        font-size: 1.2em;
    }

    #alt-hero #tweet-btn {
        width: 80px;
    }

    #alt-hero #tweet-input {
        width: calc(100% - 100px);
    }
}


#alt-hero .alt-span a {
    text-decoration: none;
    color: white;
}

#alt-hero #dont-forget-right {
    padding-left: 10px;
    width: calc(100% - 10px);
}

main {
    padding-top: 3px;
    position: relative;
}

#interactive {
    width: calc(70% - 3px);
    position: relative;
}

    #interactive #video-container iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #interactive #video-container {
        width: 100%;
        height: 550px;
    }

        #interactive #video-container #video {
            background-image: url('../img/erdogan.jpg');
            background-size: cover;
            background-position: bottom;
            height: 100%;
            width: 100%;
        }

        #interactive #video-container #monument {
            background-image: url('../img/monument.png');
            background-size: contain;
            background-position: center;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            position: relative;
            display: none;
            background-color: #373536;
            border-radius: 0;
            background-size: 360px;
        }

@media (min-width: 1225px) {
    #interactive #video-container #video {
        background-image: url('../img/erdogan.jpg');
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
    }
}

main nav ul {
    list-style: none;
    float: right;
    margin: 0 0px 0 0;
    line-height: 30px;
    color: white;
    z-index: 9999;
    position: relative;
}

    main nav ul li {
        list-style: none;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        width: 130px;
        font-size: 1.5em;
        background-color: #d2d1d6;
        cursor: pointer;
    }

        main nav ul li:hover {
            background-color: darkgray;
        }

        main nav ul li.selected {
            background-color: #363435;
        }

        main nav ul li a {
            color: #f7f5f8;
            text-decoration: none;
            font-size: 0.95em;
        }

main aside.right {
    width: calc(30% + 3px);
}

main aside nav {
    height: 30px;
}

main aside ul {
    width: calc(100% - 3px);
    height: 30px;
}

    main aside ul li {
        width: calc(50% - 20px);
        float: left;
    }

@media (max-width: 700px) {
    main aside ul li {
        margin: 0;
        padding-left: 2px;
        padding-right: 2px;
    }



    main nav ul li a {
        font-size: 0.50em;
        text-align: center;
        width: 100%;
        display: block;
    }

    main nav ul li {
        width: 70px;
    }
    main aside ul li {
        width: calc(50% - 4px);
    }
    main ul {
        width: 80px;
    }

    #interactive ul {
        margin-right: 10px;
    }
}

#tweets {
    height: 520px;
    background-color: white;
    width: 100%;
}

    #tweets iframe {
        height: 520px!important;
    }

footer {
    overflow: hidden;
    background-color: #353c44;
    width: 100%;
    height: 83px;
    margin-top: 3px;
    margin-bottom: 5px;
}

    footer #media-player {
        text-align: center;
        width: 100%;
        height: 50px;
    }

        footer #media-player iframe {
            position: relative;
            top: -50px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
        }

        footer #media-player.static {
            height: 30px;
            padding-top: 10px;
            width: 100%;
            position: fixed;
            top: 0;
            max-width: 1280px;
            background-color: #353c44;
        }


    footer h6 {
        color: white;
        font-size: 1.1em;
        font-weight: 500;
        font-family: Arial;
    }

a.twitter-timeline {
    border-radius: 3px;
}


.content {
    margin: 10px 10px 15px 15px;
    padding: 0;
    width: calc(50% - 25px);
    height: 450px;
    background-image: url('../img/content.jpg');
    background-size: auto 450px;
    background-repeat: no-repeat;
    background-position: center;
}

    .content.right {
        width: calc(50% - 25px);
        margin-left: 10px;
        margin-right: 0;
    }

@media (max-width: 700px) {
    .content {
        height: 250px;
        background-size: auto 250px;
    }

        .content.right {
            width: calc(50% - 25px);
        }
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

aside.right {
    height: calc(100% - 3px);
    position: absolute;
    margin-left: calc(70% - 3px);
    overflow: hidden;
}

#news {
    height: 100%;
}

    #news .news-container {
        font: normal 11px Arial;
        width: 100%;
        border: solid 1px #ccc;
        background: #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 3px #ccc;
        height: 518px;
    }

    #news iframe {
        height: 473px;
        width: 100%;
        border: none;
    }

    #news .news-container h2 {
        padding: 8px;
        margin: 0;
        height: 25px;
        border: 0;
        border-bottom: solid 1px #ccc;
    }

        #news .news-container h2 img {
            border: none 0;
        }

#radio-play {
    background-image: url(../img/play.png);
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#listen-start-container {
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 282px;
    padding-left: 10px;
    padding-right: 10px;
    left: calc(50% - 131px);
    top: calc(50% - 50px);
    background-color: rgba(224, 152, 152, 0.45);
    border-radius: 8px;
    padding-top: 15px;
    cursor: pointer;
}

    #listen-start-container span {
        color: white;
        text-align: center;
        padding-left: 10px;
    }


hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ff4747, #8c8b8b, #ff4747);
    background-image: -moz-linear-gradient(left, #ff4747, #8c8b8b, #ff4747);
    background-image: -ms-linear-gradient(left, #ff4747, #8c8b8b, #ff4747);
    background-image: -o-linear-gradient(left, #ff4747, #8c8b8b, #ff4747);
    margin-bottom: 0;
}

.copyright {
    background-color: #0d0d0d;
    color: #ccc;
    font-size: 12px;
    font-family: 'Open Sans', arial, sans-serif;
    text-align: center;
    position: relative;
    bottom: 0;
}


.center {
    text-align: center;
}

.article-content {
    padding-top: 1px;
    padding-bottom: 1px;
    word-break: break-word;
    font-size: 18px;
    line-height: 1.57778;
    letter-spacing: .0125em;
    background-color: rgba(57, 58, 74, 0.8);
    color: white;
    padding-bottom: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

    .article-content h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 70px;
        text-align: center;
    }

    .article-content p {
        width: 50%;
        padding-left: 25%;
        padding-right: 25%;
    }

        .article-content p:last-of-type {
            margin-bottom: 50px;
        }

    .article-content ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        padding-bottom: 50px;
    }

        .article-content ul li {
            font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
            border-bottom: 1px solid #3a3637;
        }

            .article-content ul li:last-child {
                border: none;
            }

        .article-content ul li {
            text-decoration: none;
            color: #fff;
            display: block;
            width: 600px;
            padding-left: 10px;
            padding-right: 10px;
            -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
            -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
            -o-transition: font-size 0.3s ease, background-color 0.3s ease;
            -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
            transition: font-size 0.3s ease, background-color 0.3s ease;
            padding-bottom: 10px;
        }

            .article-content ul li span {
                font: 'Oswald', sans-serif;
                font-weight: bold;
                color: #f7f5f8;
            }

            .article-content ul li:hover {
                background: #353c44;
                cursor: pointer;
            }

main figure {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-size: contain;
    border-radius: 20px;
    position: relative;
}

figure span {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    font-style: italic;
}
figure span.name{
    text-align: center;
    width: 100%;
    font-size: 1em;
    font-style:normal;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    position:initial;
}

figure.why-walk {
    background-image: url('../img/1.jpg');
    width: 648px;
    height: 432px;
}

figure.jul1 {
    background-image: url('../img/2.jpg');
    width: 455px;
    height: 256px;
}

figure.jul2 {
    background-image: url('../img/3.jpg');
    width: 455px;
    height: 304px;
}

figure.jul3 {
    background-image: url('../img/4.jpg');
    width: 455px;
    height: 256px;
}

figure.jul4 {
    background-image: url('../img/5.jpg');
    width: 606px;
    height: 340px;
}

figure.jul5 {
    background-image: url('../img/6.jpg');
    width: 455px;
    height: 256px;
}

figure.jul6 {
    background-image: url('../img/7.jpg');
    width: 640px;
    height: 359px;
}

figure.kah1 {
    background-image: url('../img/kah-1.jpg');
    width: 455px;
    height: 256px;
}

figure.kah2 {
    background-image: url('../img/kah-2.png');
    width: 455px;
    height: 277px;
}

figure.kah3 {
    background-image: url('../img/kah-3.jpg');
    width: 455px;
    height: 256px;
}


figure.stop {
    background-image: url('../img/8.jpg');
    width: 455px;
    height: 304px;
}

.avatarDiv {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index:5;
}.noOpacity {
    
    
}

.avatarDiv.fullOpacity {
    opacity: 1;
}