<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ELMADE</title>
</head>

<body>
  <section class="hero">
    <article class="logo-container fade-in">
        <img src="../assets/logo.png">
    </article>
    <article class="tshirt-grid">
      <div class="tshirt-container shadow-drop-2-center "><img src="../assets/tshirts/1.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-1"><img src="../assets/tshirts/2.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-2"><img src="../assets/tshirts/3.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-3"><img src="../assets/tshirts/4.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-4"><img src="../assets/tshirts/5.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-5"><img src="../assets/tshirts/6.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-6"><img src="../assets/tshirts/7.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-7"><img src="../assets/tshirts/8.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-8"><img src="../assets/tshirts/9.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-9"><img src="../assets/tshirts/10.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-10"><img src="../assets/tshirts/11.png"></div>
      <div class="tshirt-container shadow-drop-2-center delay-11"><img src="../assets/tshirts/12.png"></div>
    </article>
  </section>
</body>

</html>