@font-face {
    font-family: 'Aestetico Formal';
    src: url('AesteticoFormal-Bold.eot');
    src: local('Aestetico Formal Bold'), local('AesteticoFormal-Bold'),
        url('AesteticoFormal-Bold.eot?#iefix') format('embedded-opentype'),
        url('AesteticoFormal-Bold.woff2') format('woff2'),
        url('AesteticoFormal-Bold.woff') format('woff'),
        url('AesteticoFormal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aestetico Formal';
    src: url('AesteticoFormal-Thin.eot');
    src: local('Aestetico Formal Thin'), local('AesteticoFormal-Thin'),
        url('AesteticoFormal-Thin.eot?#iefix') format('embedded-opentype'),
        url('AesteticoFormal-Thin.woff2') format('woff2'),
        url('AesteticoFormal-Thin.woff') format('woff'),
        url('AesteticoFormal-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aestetico Formal';
    src: url('AesteticoFormal-Regular.eot');
    src: local('Aestetico Formal'), local('AesteticoFormal-Regular'),
        url('AesteticoFormal-Regular.eot?#iefix') format('embedded-opentype'),
        url('AesteticoFormal-Regular.woff2') format('woff2'),
        url('AesteticoFormal-Regular.woff') format('woff'),
        url('AesteticoFormal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

