.photography {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.photography-item {
    width: calc(33.333% - 13px);
    box-sizing: border-box;
    margin-bottom: 30px;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    @media (max-width: 700px) {
        width: calc(50% - 13px);
    }

    &.visible {
        opacity: 1;
    }
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.hashtags {
    margin-top: 10px;
    text-align: center;
    max-width: 800px;

    span {
        color: orange;
        margin-right: 10px;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}