@font-face {
    font-family: 'LFT Etica';
    src: url('LFTEtica-Italic.eot');
    src: local('LFTEtica-Italic'),
        url('LFTEtica-Italic.eot?#iefix') format('embedded-opentype'),
        url('LFTEtica-Italic.woff2') format('woff2'),
        url('LFTEtica-Italic.woff') format('woff'),
        url('LFTEtica-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LFT Etica Lt';
    src: url('LFTEticaLt-Italic.eot');
    src: local('LFTEticaLt-Italic'),
        url('LFTEticaLt-Italic.eot?#iefix') format('embedded-opentype'),
        url('LFTEticaLt-Italic.woff2') format('woff2'),
        url('LFTEticaLt-Italic.woff') format('woff'),
        url('LFTEticaLt-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'LFT Etica Bk';
    src: url('LFTEticaBk-Italic.eot');
    src: local('LFTEticaBk-Italic'),
        url('LFTEticaBk-Italic.eot?#iefix') format('embedded-opentype'),
        url('LFTEticaBk-Italic.woff2') format('woff2'),
        url('LFTEticaBk-Italic.woff') format('woff'),
        url('LFTEticaBk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LFT Etica XB';
    src: url('LFTEticaXB.eot');
    src: local('LFTEticaXB'),
        url('LFTEticaXB.eot?#iefix') format('embedded-opentype'),
        url('LFTEticaXB.woff2') format('woff2'),
        url('LFTEticaXB.woff') format('woff'),
        url('LFTEticaXB.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'LFT Etica XB';
    src: url('LFTEticaXB-Italic.eot');
    src: local('LFTEticaXB-Italic'),
        url('LFTEticaXB-Italic.eot?#iefix') format('embedded-opentype'),
        url('LFTEticaXB-Italic.woff2') format('woff2'),
        url('LFTEticaXB-Italic.woff') format('woff'),
        url('LFTEticaXB-Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'LFT Etica Sb';
    src: url('LFTEticaSb-Italic.eot');
    src: local('LFTEticaSb-Italic'),
        url('LFTEticaSb-Italic.eot?#iefix') format('embedded-opentype'),
        url('LFTEticaSb-Italic.woff2') format('woff2'),
        url('LFTEticaSb-Italic.woff') format('woff'),
        url('LFTEticaSb-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'LFT Etica Lt';
    src: url('LFTEticaLt.eot');
    src: local('LFTEticaLt'),
        url('LFTEticaLt.eot?#iefix') format('embedded-opentype'),
        url('LFTEticaLt.woff2') format('woff2'),
        url('LFTEticaLt.woff') format('woff'),
        url('LFTEticaLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LFT Etica Sb';
    src: url('LFTEticaSb.eot');
    src: local('LFTEticaSb'),
        url('LFTEticaSb.eot?#iefix') format('embedded-opentype'),
        url('LFTEticaSb.woff2') format('woff2'),
        url('LFTEticaSb.woff') format('woff'),
        url('LFTEticaSb.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'LFT Etica';
    src: url('LFTEtica-BoldItalic.eot');
    src: local('LFTEtica-BoldItalic'),
        url('LFTEtica-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('LFTEtica-BoldItalic.woff2') format('woff2'),
        url('LFTEtica-BoldItalic.woff') format('woff'),
        url('LFTEtica-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'LFT Etica';
    src: url('LFTEtica-Bold.eot');
    src: local('LFTEtica-Bold'),
        url('LFTEtica-Bold.eot?#iefix') format('embedded-opentype'),
        url('LFTEtica-Bold.woff2') format('woff2'),
        url('LFTEtica-Bold.woff') format('woff'),
        url('LFTEtica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LFT Etica Bk';
    src: url('LFTEticaBk.eot');
    src: local('LFTEticaBk'),
        url('LFTEticaBk.eot?#iefix') format('embedded-opentype'),
        url('LFTEticaBk.woff2') format('woff2'),
        url('LFTEticaBk.woff') format('woff'),
        url('LFTEticaBk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LFT Etica';
    src: url('LFTEtica.eot');
    src: local('LFTEtica'),
        url('LFTEtica.eot?#iefix') format('embedded-opentype'),
        url('LFTEtica.woff2') format('woff2'),
        url('LFTEtica.woff') format('woff'),
        url('LFTEtica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

