@font-face {
  font-family: "LFT Etica";
  src: url("LFTEtica.eot");
  src:
    local("LFTEtica"),
    url("LFTEtica.eot?#iefix") format("embedded-opentype"),
    url("LFTEtica.woff2") format("woff2"),
    url("LFTEtica.woff") format("woff"),
    url("LFTEtica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
